<form ng-submit="vm.save()" name="vm.form">
  <div class="modal-header">
    <h4>Activation Create</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="serial">Serial Number:</label>
      <input type="text"
             ng-model="vm.data.serial"
             id="serial"
             class="form-control"
             placeholder="Serial Number"
             required>
    </div>
    <div class="form-group">
      <label for="machineId">Machine ID:</label>
      <input type="text"
             ng-model="vm.data.machineId"
             id="machineId"
             class="form-control"
             required
             placeholder="Machine ID">
    </div>
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text"
             ng-model="vm.data.firstName"
             id="firstName"
             class="form-control"
             required
             placeholder="First Name">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text"
             ng-model="vm.data.lastName"
             id="lastName"
             class="form-control"
             required
             placeholder="Last Name">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email"
             ng-model="vm.data.email"
             id="email"
             class="form-control"
             required
             placeholder="Email">
    </div>
    <div class="form-group">
      <label for="company">Company:</label>
      <input type="text"
             ng-model="vm.data.company"
             id="company"
             class="form-control"
             required
             placeholder="Company">
    </div>
    <div class="form-group">
      <label for="country">Country:</label>
      <input type="text"
             ng-model="vm.data.country"
             id="country"
             class="form-control"
             required
             placeholder="Country">
    </div>
    <div class="form-group">
      <label for="city">City:</label>
      <input type="text"
             ng-model="vm.data.city"
             id="city"
             class="form-control"
             required
             placeholder="City">
    </div>
    <div class="form-group">
      <label for="address">Address:</label>
      <input type="text"
             ng-model="vm.data.address"
             id="address"
             class="form-control"
             required
             placeholder="Address">
    </div> 
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="text"
             ng-model="vm.data.phone"
             id="phone"
             class="form-control"
             required
             placeholder="Phone">
    </div>
    <!--<div class="form-group">
      <label for="ipAddress">Ip Address:</label>
      <input type="text"
             ng-model="vm.data.ipAddress"
             id="ipAddress"
             class="form-control"
             required
             placeholder="Ip Address">
    </div>-->
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid">Save</button>
    <button type="button" class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
  </div>

</form>
