<form ng-submit="vm.save()" name="vm.form">
  <div class="modal-header">
    <h4>Change Password</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="oldPassword">Old Password:</label>
      <input type="password"
             ng-model="vm.password.oldPassword"
             id="oldPassword"
             class="form-control"
             placeholder="Old Password"
             required
             name="oldPassword">
    </div>
    <div class="form-group">
      <label for="newPassword">New Password:</label>
      <input type="password"
             ng-model="vm.password.newPassword"
             minlength="6"
             id="newPassword"
             class="form-control"
             placeholder="New Password"
             required
             name="newPassword">
    </div>
    <div class="form-group">
      <label for="newPassword2">New Password:</label>
      <input type="password"
             ng-model="vm.password.newPassword2"
             minlength="6"
             ng-pattern="vm.password.newPassword"
             id="newPassword2"
             class="form-control"
             placeholder="New Password"
             required
             name="newPassword2">
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid">Save</button>
    <button type="button" class="btn btn-warning" ng-click="vm.close()">Cancel</button>
  </div>

</form>
