<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-sm-6">
     <div class="jumbotron">
       <form name="vm.form"
             ng-submit="vm.login()">
         <div class="form-group">
           <label for="email">Username</label>
           <input type="text"
                  ng-model="vm.data.email"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="Username"
                  required>
         </div>
         <div class="form-group">
           <label for="password">Password</label>
           <input type="password"
                  ng-model="vm.data.password"
                  id="password"
                  class="form-control"
                  placeholder="Password"
                  name="password"
                  required>
         </div>
         <button type="submit"
                 class="btn btn-success btn-md" ng-disabled="vm.form.$invalid">Log in</button>
       </form>
     </div>
    </div>
  </div>
</div>
