<form ng-submit="vm.save()" name="vm.form">
  <div class="modal-header">
    <h4>Register Product</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="productName">Product Name:</label>
      <input type="text"
             ng-model="vm.product.name"
             id="productName"
             class="form-control"
             placeholder="Serial Prefix"
             required
             name="Product Name">
    </div>
    <div class="form-group">
      <label for="productId">Product ID:</label>
      <input type="text"
             ng-model="vm.product.productId"
             id="productId"
             name="productId"
             class="form-control"
             required
             placeholder="Product ID">
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid">Save</button>
    <button type="button" class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
  </div>

</form>
