<div class="row">
  <div class="col-md-3">
    <form name="vm.form"
          ng-model-options="{debounce: 300}"
          ng-submit="vm.search()">
      <div class="form-group">
        <label for="serialKey">Serial Key:</label>
        <input type="text"
               ng-model="vm.filters.key"
               id="serialKey"
               name="serialKey"
               class="form-control"
               placeholder="Serial Key">
      </div>
      <div class="text-right">
        <button type="button" class="btn btn-warning" ng-click="vm.reset()">Reset</button>
        <button type="submit" class="btn btn-success">Search</button></div>
    </form>
  </div>
  <div class="col-md-9">

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <th class="text-center">№</th>
        <th class="text-center">Date Create</th>
        <th>Key</th>
        <th class="text-center">License Count</th>
        <th class="col-actions">Actions</th>
        </thead>
        <tbody>
        <tr ng-repeat="serial in vm.serials">
          <td class="text-center">{{serial.docIndex}}</td>
          <td class="text-center">{{serial.dateCreate | date: 'dd.MM.yyyy'}}</td>
          <td>{{serial.key}}</td>
          <td class="text-center">{{serial.licenseCount}}</td>
          <td class="col-actions">
            <!--<button type="button"-->
            <!--ng-click="vm.openSerialtModal(serial, $index)"-->
            <!--class="btn btn-primary btn-sm">-->
            <!--<span class="glyphicon glyphicon-edit"></span>-->
            <!--</button>-->
            <a class="btn btn-success btn-sm" ui-sref="serialDetail({id: serial._id})">
              <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <button type="button"
                    ng-click="vm.delete(serial, $index)"
                    class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <ul uib-pagination
        total-items="vm.pagination.total"
        ng-model="vm.pagination.page"
        ng-change="vm.loadSerials()"
        max-size="6"
        items-per-page="vm.pagination.limit"
        class="pagination-sm pull-left"
        boundary-link-numbers="true">
    </ul>

  </div>
</div>

