login-component{
   display: block;
   margin-top: 10%;
 }

.col-actions{
  width: 150px;
  text-align: center;
}
th[ng-click]{
  user-select: none;
  cursor: pointer;
}
.glyphicon.reverse{
  transform: rotate(-180deg);
}
.sm-spacer{
  margin-bottom: 20px;
}
